* {
	padding: 0;
	margin: 0;
	border: 0;
  	vertical-align: baseline;
  	outline: none;
}

article,
footer, 
header, 
nav {
	display: block; 
}

body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff;
	font-size: 10px;
	font-family: "MyriadProCondBold";
	/*font-family: 'PT Sans', sans-serif;*/
}
.bg() {
	background-repeat: no-repeat;
	background-position: top; 
	background-size: contain;
		-webkit-background-size: contain;
		-o-background-size: contain;
		-moz-background-size: contain;
		-ms-background-size: contain;
}
h1 {
	font-size: 4.2rem;
	color: #5e5e5e;
	font-weight: bold;
}
/*-----------------COLORS-------------------*/


/*-----------------FONTS--------------------*/

/*-----------------HEADER-------------------*/
header {
	.bg();
	background-image: url(../../img/header-banner.jpg);
	min-height: 87.3rem;
	font-size: 1.8rem;
	color: #3e3e3e;
}
nav {
	.form-control {
		height: 5.3rem;
		padding: 0.9rem 1.8rem;
		font-size: 1.8rem;
		text-align: center;
		border-radius: 0px;
		border: 2px solid #e79820;
		/* font color*/
	}
}

.phone {
	color: #5e5e5e;
	font-size: 3.2rem;
		span {
			font-size: 2.4rem;
		}
}
.info {
	line-height: 1;
	p {
		font-size: 2.6rem;
		color: #303030;
	}
}
.form-top {
	border: 1px solid red;
	p {
		color: #fff;
		font-size: 3.1rem;
	}
	
}
form {
	.bg();
	background-image: url(../../img/form-top.png);
	min-height: 60.2rem;
	margin-top: -5rem;
	border: 1px solid #000;
	padding: 10rem 0 0 6rem;
}
.form-horizontal {
	font-size: 2.6rem;
	label {
		color: #fff;
		height: 5.8rem;
		line-height: 1.5;
	}
	.form-control {
		height: 5.8rem;
		color: #ababab;
		font-size: 2.6rem;
		border-radius: 0px;
		border: none;
		border-top: 1px solid #ababab;
	}
}
.btn-price {
	height: 5.8rem;
	font-size: 3rem;
	color: #474747;
	background-color: #fcdb00;
	border-radius: 0;
	border: 1px solid #fff;
}
/*.title-info {
	background-image: url(../../img/toys.jpg);
	min-height: 48.7rem;
}*/
/*-----------------PARTNERS-------------------*/
.partners {
	.bg();
	background-image: url(../../img/partners-banner.jpg);
	min-height: 56rem;
}